


<br><br>



<form >

  <div>
    <button class="btn btn-primary" (click)="create()" >Novo</button>
<table class="table table-striped ">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients" >
        <th scope="row">{{client.id}}</th>
        <td>{{client.name}} </td>
        <td>{{client.email}}</td>
        <td>{{client.value}}</td>
        <td>{{client.date}}</td>
        
        <button class="btn btn-primary me-1" (click)="edit(client)">Editar</button>
        <button class="btn btn-primary" (click)="delete(client)">Excluir</button>


    </tbody>
  </table>
</div>
</form>
