<br><br>

<p class=" ">Compra Do Cliente </p>

<form >

  <div>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Valor</th>
        <th scope="col">Data</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients" >
        <th scope="row">{{client.id}}</th>
        <td>{{client.name}} </td>
        <td>{{client.email}}</td>
        <td>{{client.value}}</td>
        <td>{{client.date}}</td>
        
 
    </tbody>
  </table>
</div>
</form>